/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: url("https://images.unsplash.com/photo-1580184481690-5546bb513ae7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'Suez One', serif;
  font-size: 60px;
  color: #fff;
  /* margin: 40px auto 7.5px; */
  margin-bottom: -15px;
  margin-top: 190px;
  display: block;
}

.header-link p {
  font-family: sans-serif;
  color: #fff;
  margin: 7.7px auto 10px;
  text-shadow: 2px 2px 7.5px rgba(0,0,0,0.3);
  overflow: hidden;
  /* display: block; */
  line-height: 22.5px;
}

.login-signup {
  color: #fff;
  /* text-shadow: 2px 2px 7.5px rgba(161, 37, 37, 0.3); */
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
}

.login-signup a:nth-child(1) {
  background-color:#00b8ff;
  width: 300px;
  height: 45px;
  color: #fff;
  /* text-shadow: 2px 2px 7.5px rgba(0,0,0,0.2); */
  font-family: sans-serif;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 12px auto;
  border-radius: 2px;
}

.login-signup a {
  background-color:#fff;
  width: 300px;
  height: 45px;
  color: #00b8ff;
  /* text-shadow: 2px 2px 7.5px rgba(0,0,0,0.2); */
  font-family: sans-serif;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 12px auto;
  border-radius: 2px;
}

.login-signup-link {
  background-color: rgb(105, 188, 221);
  text-shadow: 2px 2px 7.5px rgba(0,0,0,0.2);
  font-family: sans-serif;
}

.header-name {
  color: white;
  text-shadow: 2px 2px 7.5px rgba(0,0,0,.2);
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

Link {
  color: pink;
}

.login-form-container {
  width: 275px;
  padding: 35px 80px 45px 0px;
  border-radius: 10px;
  margin: 15px 0;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: -3px 7.5px 7.5px rgba(0,0,0,.15);
  text-align: right;
}

.login-form-container label {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0,0,0,.3);
  font-family: sans-serif;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-form-container input {
    border-radius: 3px;
    border: none;
    padding: 5px;
    padding-left: 7px;
    margin-left: 5px;
    color: #777;
}

.signin-or-login {
  text-align: left;
  padding-left: 130px;
  font-size: 13px;
}

.login-form-container button {
  width: 100px;
  margin-right: 53px;
  margin-top: 5px;
  background-color: rgb(105, 188, 221);
  border-radius: 3px;
  border: none;
  padding: 5px 15px;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 13px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  opacity: 1;
  transition: .2s;
}

.login-form-container button:hover {
  transition: .2s;
  opacity: .8;
}

.login-form-container li {
  text-align: center;
  background-color: #e9555c;
  color: #fff;
  border-radius: 3px;
  padding: 10px 8px;
  font-family: sans-serif;
  width: 150px;
  margin-left: 50px;
  margin-bottom: 10px;
  list-style: none;
  text-shadow: 2px 2px 5px rgba(0,0,0,.3);
  font-size: 12px;
}

.header-group button {
  color: #fff;
  padding: 10px 8px;
  text-align: center;
  border-radius: 5px;
  font-family: sans-serif;
  width: 150px;
  list-style: none;
  margin-left: 0px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0,0,0,.2);
  box-shadow: 3px 3px 7px rgba(0,0,0,.1);
  background-color: rgb(105, 188, 221);
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.test {
  display: none;
}

.test-two {
  display: none;
}

.mapped-blog-li {
  width: 275px;
  border-radius: 10px;
  margin: 15px 0;
  background-color: white;
  border: 15px solid #d5d5d5;
  list-style: none;
  opacity: .85;
  padding: 10px 10px 20px 20px;
  box-shadow: -3px 7.5px 7.5px rgba(0,0,0,.25);
}

.mapped-blog-li p, .mapped-blog-li h3 {
  color: black;
  font-family: sans-serif;
  text-shadow: none;
}

.mapped-blog-ul {
  margin-top: 35px;
}

.mapped-blog-link {
  width: 335px;
  display: block;
}

.blogs-index-link-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 175px;
  text-align: center;
  /* margin-left: -10px; */
  /* background-color: rgb(105, 188, 221); */
  color: #fff;
  padding: 7px 7px 5px;
  border-radius: 10px;
  font-family: sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: 800;
}

.new-blog-container {
  width: 275px;
  border-radius: 10px;
  margin: 15px 0;
  background-color: white;
  border: 15px solid #d5d5d5;
  list-style: none;
  opacity: .85;
  padding: 10px 10px 20px 20px;
  box-shadow: -3px 7.5px 7.5px rgba(0,0,0,.25);
  font-family: sans-serif;
}

.new-blog-container label {
  margin-bottom: 10px;
  text-align: right;
  display: block;
  font-size: 15px;
}

.new-blog-container input {
  width: 150px;
  margin-right: 25px;
  margin-left: 7.5px;
}

.new-blog-container button {
  display: block;  
  margin: auto;
  color: #fff;
  padding: 10px 8px;
  text-align: center;
  border-radius: 5px;
  font-family: sans-serif;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-shadow: 2px 2px 5px rgba(0,0,0,.2);
  box-shadow: 3px 3px 7px rgba(0,0,0,.1);
  background-color: rgb(105, 188, 221);
  font-size: 13px;
  cursor: pointer;
  border: none;
}

.single-blog-show {
  width: 500px;
  border-radius: 10px;
  margin: 15px 0;
  background-color: white;
  border: 15px solid #d5d5d5;
  list-style: none;
  opacity: .85;
  padding: 10px 10px 27.5px 27.5px;
  box-shadow: -3px 7.5px 7.5px rgba(0,0,0,.25);
  font-family: sans-serif;
}

.single-blog-show p {
  color: black;
  text-shadow: none;
}

.single-blog-show button {
  display: block;  
  margin: auto;
  color: #fff;
  padding: 10px 8px;
  border-radius: 5px;
  font-family: sans-serif;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: rgb(105, 188, 221);
  font-size: 13px;
  cursor: pointer;
  border: none;
}

.single-blog-show a {
  display: block;
  margin-top: 25px;
  color: rgb(105, 188, 221);
  font-size: 14px;
}

img {
  max-width: 87.5%;
}

.header-link {
  text-align: center;
}