/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #001935;
  margin: 0;
  min-width: 400px;
}

a {
  color: #fff;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: #fff;
}

button {
  color: #fff;
}

button:hover {
  cursor: pointer;
}

button:visited {
  color: #fff;
}

.home-link-button a:visited {
  color: #fff;
}

h1 {
  font-family: 'Suez One', serif;
  font-size: 60px;
  color: #fff;
  /* margin: 40px auto 7.5px; */
  margin-bottom: -10px;
  margin-top: 190px;
  display: block;
}

.header-link p {
  font-family: sans-serif;
  color: #fff;
  margin: 7.7px auto 10px;
  text-shadow: 2px 2px 7.5px rgba(0,0,0,0.3);
  /* overflow: hidden; */
  /* display: block; */
  line-height: 22.5px;
}

.login-signup {
  color: #fff;
  /* text-shadow: 2px 2px 7.5px rgba(161, 37, 37, 0.3); */
  font-family: sans-serif;
  text-align: center;
  margin-top: 0px;
}

.login-signup p {
  line-height: 22.5px;
  margin-bottom: 30px;
}

.login-signup a:nth-child(2) {
  background-color:#00b8ff;
  width: 300px;
  height: 45px;
  color: #fff;
  /* text-shadow: 2px 2px 7.5px rgba(0,0,0,0.2); */
  font-family: sans-serif;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 12px auto;
  border-radius: 2px;
}

.login-signup a {
  background-color:#fff;
  width: 300px;
  height: 45px;
  color: #00b8ff;
  /* text-shadow: 2px 2px 7.5px rgba(0,0,0,0.2); */
  font-family: sans-serif;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 12px auto;
  border-radius: 2px;
}

.login-signup-link {
  background-color: rgb(105, 188, 221);
  text-shadow: 2px 2px 7.5px rgba(0,0,0,0.2);
  font-family: sans-serif;
}

.header-name {
  color: white;
  text-shadow: 2px 2px 7.5px rgba(0,0,0,.2);
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

Link {
  color: pink;
}

.login-form-container {
  width: 275px;
  padding: 35px 70px 55px 0px;
  border-radius: 2px;
  margin: 35px auto 15px;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: -3px 7.5px 7.5px rgba(0,0,0,.15);
  text-align: right;
  display: block;
}

.login-form-container label {
  color: #555555;
  /* text-shadow: 2px 2px 5px rgba(0,0,0,.3); */
  font-family: sans-serif;
  display: block;
  font-size: 14px;
  letter-spacing: .5px;
  margin-bottom: 10px;
}

.login-form-container input {
    border-radius: 2px;
    border: none;
    padding: 5px;
    padding-left: 7px;
    margin-left: 5px;
    color: #777;
}

.signin-or-login {
  text-align: left;
  padding-left: 130px;
  font-size: 13px;
}

.login-form-container button {
  width: 100px;
  margin-right: 53px;
  margin-top: 5px;
  background-color: #00b8ff;
  border-radius: 2px;
  border: none;
  padding: 5px 15px;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 13px;
  /* box-shadow: 1px 1px 3px rgba(0,0,0,.1); */
  opacity: 1;
  transition: .2s;
  font-weight: 800;
}

.login-form-container button:hover {
  transition: .2s;
  opacity: .8;
}

.login-form-container ul {
  margin-top: 0px;
  margin-bottom: 30px;
}

.login-form-container li {
  text-align: center;
  background-color: #e9555c;
  color: #fff;
  border-radius: 3px;
  padding: 10px 8px;
  font-family: sans-serif;
  width: 150px;
  margin-left: 50px;
  margin-bottom: 10px;
  list-style: none;
  /* text-shadow: 2px 2px 5px rgba(0,0,0,.3); */
  font-size: 12px;
}

.header-group button {
  color: #fff;
  padding: 10px 8px;
  text-align: center;
  border-radius: 5px;
  font-family: sans-serif;
  width: 150px;
  list-style: none;
  margin-left: 0px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0,0,0,.2);
  box-shadow: 3px 3px 7px rgba(0,0,0,.1);
  background-color: rgb(105, 188, 221);
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.test {
  display: none;
}

.test-two {
  display: none;
}

.mapped-blog-li {
  width: 275px;
  border-radius: 2px;
  margin: 15px 0;
  background-color: white;
  /* border: 15px solid #d5d5d5; */
  list-style: none;
  opacity: 1;
  padding: 10px 40px 20px 30px;
  box-shadow: -3px 7.5px 7.5px rgba(0,0,0,.25);
}



.mapped-blog-li p, .mapped-blog-li h3 {
  color: rgb(51, 51, 51);
  font-family: sans-serif;
  text-shadow: none;
}
.mapped-blog-li h3 {
  border-bottom: 1px solid rgb(231, 231, 231);
  padding-bottom: 7.5px;
}

.mapped-blog-li p {
  line-height: 20px;
  font-size: 15px;
}

.mapped-blog-ul {
  padding-top: 50px;
  padding-bottom: 25px;
  display: block;
  margin: auto;
  width: 350px;
  padding-left: 10px;
}

.mapped-blog-link {
  width: 335px;
  display: block;
}

.blogs-index-link-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 175px;
  text-align: center;
  /* margin-left: -10px; */
  /* background-color: rgb(105, 188, 221); */
  color: #fff;
  padding: 7px 7px 5px;
  border-radius: 10px;
  font-family: sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: 800;
}

.new-blog-container {
  width: 275px;
  border-radius: 2px;
  margin: 15px 0;
  background-color: white;
  border: 20px solid #fff;
  list-style: none;
  /* opacity: .85; */
  padding: 10px 10px 20px 20px;
  box-shadow: -3px 7.5px 7.5px rgba(0,0,0,.25);
  font-family: sans-serif;
}

.new-blog-container label {
  margin-bottom: 10px;
  text-align: right;
  display: block;
  font-size: 15px;
}

.new-blog-container input {
  width: 150px;
  margin-right: 25px;
  margin-left: 7.5px;
}

.new-blog-container button {
  display: block;  
  margin: auto;
  color: #fff;
  padding: 10px 8px;
  text-align: center;
  border-radius: 5px;
  font-family: sans-serif;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-shadow: 2px 2px 5px rgba(0,0,0,.2);
  box-shadow: 3px 3px 7px rgba(0,0,0,.1);
  background-color: rgb(105, 188, 221);
  font-size: 13px;
  cursor: pointer;
  border: none;
}

img {
  max-width: 87.5%;
}

.header-link {
  text-align: center;
}

a.header-link {
  background-color: rgba(0,0,0,0);
  font-weight: 100;
}

.home-link-button {
  background-color:#aaa;
  width: 100px;
  height: 25px;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 7.5px;
  border-radius: 2px;
  font-size: 12px;
  border: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 10px;
  box-shadow: -3px 7.5px 7.5px rgba(0,0,0,.15);
  margin-bottom: 10px;
}

.new-post-form {
  background-color: #eee;
  padding: 15px 25px;
  font-size: 12px;
  letter-spacing: .5px;
  text-align: right;
  padding-right: 100px;
  border-radius: 4px;
  margin-top: 15px;
}

.new-post-form label {
  background-color: #eee;
  padding: 7.5px 25px;
  display: block;
  font-weight: 100;
}

.new-post-form input {
  margin-left: 5px;
}

.new-post-form h3 {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.new-post-form button {
    margin-right: 80px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    background-color: #fff;
    display: inline;
}

.header-group {
  width: 215px;
  display: block;
  margin: auto;
}

.header-group button {
  display: block;
  margin: auto;
}




/* ————— New CSS added during job search. ————— */

.background-animation-div-shared {
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  opacity: 0;
  z-index: -2;
}

.background-animation-div-1 {
  transition: .2s;
}

.background-animation-div-2 {
  transition: .2s;
}

.background-author-div {
  font-family: sans-serif;
  justify-content: right;
  align-items: center;
  position: absolute;
  text-align: right;
  cursor: default;
  display: flex;
  font-size: 13px;
  height: 30px;
  bottom: 12px;
  width: 200px;
  right: 12px;
  color: #fff;
}

.background-author-div::selection { color: none; }

.background-author-image-div {
  background-image: url("https://avatars1.githubusercontent.com/u/28816983?s=460&u=1fbab87b577eec513afe0aec18389f2d04f1e8d6&v=4");
  background-position: center;
  background-color: #666;
  background-size: cover;
  display: inline-block;
  border-radius: 3px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
}

.background-author-name-span::selection { color: none; }

.background-author-name-span {
  margin-left: 5px;
}

.tom-links-div {
  font-family: sans-serif;
  align-items: center;
  position: absolute;
  font-size: 13px;
  display: flex;
  color: #fff;
  /* width: 500px; */
  height: 30px;
  bottom: 0px;
  left: 0px;
  padding: 12px 40px 12px 30px;
  border-radius: 0 2px 0 0;
  /* text-shadow: -1px 3px 6px rgba(0,0,0,0.4); */
  background-color: rgba(0,0,0,0);
  transition: .2s;
  cursor: default;
}

.tom-links-div:hover {
  background-color: #00b8ff;
}

.tom-links-link {
  margin-left: 15px;
  transition: .2s;
}

.tom-links-link:hover {
  transition: .2s;
}

.splashpage-searchbox-div {
  align-items: center;
  position: absolute;
  display: flex;
  width: 550px;
  left: 0;
  top: 0;
}

.splashpage-searchbox-t {
  font-family: 'Suez One', serif;
  padding-left: 20px;
  font-size: 40px;
  color: #fff;
}

.splashpage-searchbox-input {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0 0 0 15px;
  border-radius: 4px;
  margin-left: 15px;
  margin-top: 3px;
  height: 35px;
  border: none;
  width: 450px;
  color: #fff;
  font-size: 14px;
  transition: .4s;
}

.splashpage-searchbox-input:focus {
  background-color: #fff;
  color: black;
  transition: .2s;
}

.background-demo-user-button {
  /* background-color: rgba(0,0,0,.35); */
  color: #eee;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 17.5px;font-family: sans-serif;
  font-size: 13px;
  transition: .2s;
  font-weight: 500;
  background-color: #00b8ff;
  letter-spacing: .5px;

  display: none;
  /* opacity: .9; */
}

.background-demo-user-button:hover {
  /* opacity: 1; */
}

.demo-button-form-hidden {
  display: none;
}

.demo-button-submit {
  color: #eee;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 17.5px;font-family: sans-serif;
  font-size: 13px;
  transition: .2s;
  font-weight: 500;
  background-color: #00b8ff;
  letter-spacing: .5px;
  border: none;
}

.header-button-component {
  color: #eee;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 17.5px;font-family: sans-serif;
  font-size: 13px;
  transition: .2s;
  font-weight: 500;
  background-color: #00b8ff;
  letter-spacing: .5px;
  border: none;
}

.search-header-div {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #133357;
}

.search-header-links-div {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #133357;
  padding: 0;
  display: flex;
  align-items: center;
}

.search-header-links-ul {
  list-style: none;
  padding-left: 0;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 100;
  margin: 0 0 0 5px;
}

.search-header-links-ul li {
  color: hsla(0,0%,100%,.65);
  display: inline-block;
  margin: 0 5px;
  letter-spacing: .5px;
}

.search-header-searchterms-div {
  font-family: sans-serif;
  /* height: 100px; */
  margin-bottom: 30px;
  text-align: center;
}

.search-header-searchterms-title {
  font-family: 'Raleway', sans-serif;
  margin: 20px 0 5px 0;
  font-size: 22.5px;
  color: #dadde0;
  font-weight: 300;
}

.search-header-searchterms-related {
  display: inline-block;
  color: #97a1ad;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.search-header-searchterms-ul {
  text-transform: uppercase;
  display: inline-block;
  color: #97a1ad;
  list-style: none;
  padding-left: 0;
  margin: 0 0 0 0;
}

.search-header-searchterms-ul li {
  display: inline-block;
  margin-left: 12px;
  font-weight: 700;
  color: #97a1ad;
  font-size: 12px;
  cursor: pointer;
}

img.search-image {
  max-width: 100%;
  width: 100%;
  margin-top: -1px;
  z-index: -1;
}

.search-post-h3 {
  font-family: sans-serif;
  text-transform: lowercase;
  margin: 0 0 0 10px;
  font-size: 14px;
  display: inline;
}

.search-post-ul {
  max-width: 300px;
}

.search-post-li {
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
  /* padding: 15px; */
}

.search-profile-user-image {
  width: 30px;
  border-radius: 2px;
}

.search-search-post-header-div {
  /* background-color: tomato; */
  display: flex;
  align-items: center;
  /* padding-bottom: 15px; */
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.search-post-bottom-div {
  padding: 15px 15px 15px 15px;
  font-family: sans-serif;
  font-weight: 50;
  font-size: 14px;
  line-height: 20px;
}

.search-post-p {
  margin: 0 0 10px 0;
}

.search-post-author {
  margin: 0;
}

.search-post-author-link {
  color: #00b8ff;
  font-weight: 400;
}

.single-blog-show {
  width: 500px;
  border-radius: 10px;
  /* background-color: white; */
  /* border: 15px solid #d5d5d5; */
  list-style: none;
  opacity: .85;
  padding: 10px 10px 27.5px 27.5px;
  /* box-shadow: -3px 7.5px 7.5px rgba(0,0,0,.25); */
  font-family: sans-serif;

  border-radius: 2px;
  /* background-color: white; */
  /* border: 15px solid #d5d5d5; */
  list-style: none;
  opacity: 1;
  padding: 10px 40px 20px 30px;
  /* box-shadow: -3px 7.5px 7.5px rgba(0,0,0,.25); */
  
  margin: 35px 0 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


.single-blog-show p, .single-blog-show h3 {
  color: black;
  font-family: sans-serif;
  text-shadow: none;
  padding: 20px;
}
.single-blog-show h2 {
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-bottom: 7.5px;
  margin-bottom: 12.5px;
}

.single-blog-show h3 {
  /* margin-bottom: 20px; */
  margin-top: 0px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.single-blog-show p {
  /* color: black;
  text-shadow: none;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding-bottom: 7.5px;
  font-size: 14px; */
  margin: 0;
}

.single-blog-show button {
  display: block;  
  margin: auto;
  color: #fff;
  padding: 10px 8px;
  border-radius: 5px;
  font-family: sans-serif;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: rgb(105, 188, 221);
  font-size: 13px;
  cursor: pointer;
  border: none;
}

.single-blog-show a {
  display: block;
  margin-top: 25px;
  color: rgb(105, 188, 221);
  font-size: 14px;
}

.blog-show-main-div {
  background-color: #f9f9f9;
  min-height: 100vh;
}

.mapped-post-li {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 30px;
}

.mapped-post-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mapped-post-li img {
  max-width: 100%;
}

.blog-show-header-image-div {
  background-image: url("https://i.pinimg.com/originals/4b/af/a6/4bafa60815e22b791214353890010f9b.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .splashpage-searchbox-div, .background-author-div{ display: none; }
}